<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration debug="true">
 	<property name="logdir" value="/data/log/${appname}" />
 	<property name="logfilename" value="${appname}.log" />
  	<appender name="DEBUGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
	    <File>${logdir}/debug-${logfilename}</File>
	    <encoder>
	      <pattern>%d %p [%c] - %m%n</pattern>
	    </encoder>
	    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	      <level>DEBUG</level>
	    </filter>
	    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
	      <maxIndex>1</maxIndex>
	      <FileNamePattern>${logdir}/debug-${logfilename}.%i</FileNamePattern>
	    </rollingPolicy>
	    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
	      <MaxFileSize>10MB</MaxFileSize>
	    </triggeringPolicy>
  	</appender>
  	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
	    <File>${logdir}/${logfilename}</File>
	    <encoder>
	      <pattern>%d %p [%c] - %m%n</pattern>
	    </encoder>
	    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	      <level>ERROR</level>
	    </filter>
	    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
	      <maxIndex>3</maxIndex>
	      <FileNamePattern>${logdir}/${logfilename}.%i</FileNamePattern>
	    </rollingPolicy>
	    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
	      <MaxFileSize>1MB</MaxFileSize>
	    </triggeringPolicy>
  	</appender>
  	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
	    <encoder>
	      <pattern>%d %p [%c] - &lt;%m&gt;%n</pattern>
	    </encoder>
  	</appender>
	<logger name="com.ntc" level="DEBUG">
	    <appender-ref ref="DEBUGFILE"/>
	</logger>
	<root level="ERROR">
	    <appender-ref ref="logfile"/>
	    <!-- <appender-ref ref="stdout"/> -->
	</root>
</configuration>